
html, body{
  /* height: 100%; */
  /* background: linear-gradient(to top, #ccccff 0%, #ffffff 100%); */
  margin:10px;
}
/* #image1{
    display: block;
    max-width: 100%;
  }
#image2{
  display: block;
  max-width: 100%;
  }

.column {
    float: left;
    max-width: 200px;                   n3ml eh hna?
    max-height: 300px;w hna?
    width: 25%; w hna?
    height: 25%;w brdo hna?
    padding: 5px;
    margin:10%;
  } */
  
  /* Clear floats after image containers */
  /* .row::after {
    content: "";
    clear: both;
    display: table;
  } */
.images{
  margin: auto;
  width: 50%;
}
#result{
  width: 300px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}
#image1{
  width:100%;
  height:100%;
  object-fit:fill;
  border-radius: 7px;
  
}
#image2{
  width:100%;
  height:100%;
  object-fit: fill;
  border-radius: 7px;
}
.phase_mag_Div{
  margin: auto;
  width: 50%;
}
#image2_info{
  position: absolute;
  right: 33%;
  width: 304px;
  border-radius: 10px;
}
#image1_info{
  position: absolute;
  right: 54%;
  width: 304px;
  border-radius: 10px;
}

#combine_btn{
  position: absolute;
  right: 69%;
  bottom: 30%;
  border-radius: 4px;
  /* background-color: crimson; */
}

.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin: 0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input {
	width: 4em;
	padding: 0.5em 1em;
}

.btn {
	background: white;
	color: black;
	border: 1px solid black;
	padding: 0.5em 1em;
	text-decoration: none;
	margin: 0.8em 0.3em;
	display: inline-block;
	cursor: pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}