<!DOCTYPE html>
<html>

<head>
   <!-- Normalize CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<!-- Cropper CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css'>
<!-- Cropper JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js'></script>

</head>

<body>
    <div class="images">
        <div class="imagediv1" >
            <input type="file" name="image_input1" id="image_input1" />
            <div id="result1"></div>
            
           
        </div>

        
        <div class="imagediv2" >
            <input type="file" name="image_input2" id="image_input2" />
            <div id="result2"></div>
            
           
        </div>

    </div>
        
        <div class="phase_mag_Div">
            <select name="image1_info" id="image1_info">
                <option value="phase">Phase</option>
                <option value="magnitude">Magnitude</option>
              </select>
              <select name="image2_info" id="image2_info">
                <option value="phase">Phase</option>
                <option value="magnitude">Magnitude</option>
              </select>
              
        </div>

    </div>
    
    <button id="combine_btn" >Save</button>



</body>


<script src="../static/main2.js"></script>

</html>